$font-stack: 'Roboto Condensed', Helvetica, sans-serif;
$primary-color: rgb(0,32,96);
$shape-color: rgba(0, 31, 92, 0.719);
$light-gray: rgb(250, 250, 250);

body {    
  font: 100% $font-stack;
  margin: 0 !important;
  padding: 0 !important;
  background-color: $light-gray;
}

header {
  height: 75ch;
  min-height: 30ch;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:2;

  #header-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    max-height: 60%;
    border-bottom: 2px solid $shape-color;

    #header-background-img {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../assets/background_header_2.jpg");
      opacity: .3;
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #header-background-title {
      display: flex;
      justify-content: center;
  
      .header-background-title-label {
        margin: 0;
        color: $primary-color;
      }
    }
  }

  #profile-picture-wrapper {
    position: relative;
    height: 0;

    #profile-picture-img {
      position: absolute;
      left: 42%;
      top: -8vw;
      width: 16%;
      border-radius: 50%;
      border: 4px solid $shape-color;
    }
  }

  #header-menu-wrapper {
    padding-top: 20ch;
    border-top: 2px solid $shape-color;
    background: linear-gradient(rgb(219, 219, 219), rgb(250, 250, 250));

    #header-menu {
      height: 10ch;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .header-menu-item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: none;
        transition: background-color 0.3s;

        .header-menu-label {
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          width: 100%;
          height: 100%;
          text-decoration: none;
        }
      }
      .header-menu-item:not(:last-child) {
        border-right: 1px solid rgba(0, 31, 92, 0.582);
      }
      .header-menu-item:hover {
        cursor: pointer;
        background-image: radial-gradient(rgba(233, 233, 233, 0.404), rgba(240, 240, 240, 0.404));
      }
    }
  }
}

#content-wrapper {
  z-index: 1;
  padding-top: 80ch;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .content-title {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5px;
    color: $primary-color;
    text-align: center;
    border-bottom: 1px solid $shape-color;
  }

  #education-wrapper, #experience-wrapper {
    width: 100%;
    list-style-type: none;
    padding-left: 0;

    .education-line, .experience-line {
      display: flex;

      .education-coord, .experience-coord {
        width: 30%;
      }

      .education-coord {
        padding-right: 5%;
        border-right: 3px solid $shape-color;
      }

      .experience-coord {
        padding-left: 5%;
        border-left: 3px solid $shape-color;
      }
  
      .education-content, .experience-content {
        width: 70%;
        min-height: 110px;
        position: relative;

        .trackline-dot {
          position: absolute;
          top: 30px;
          width: 12px;
          height: 12px;
          border: 6px solid $shape-color;
          border-radius: 50%;
          background-color: $light-gray;
        }
      }

      .education-content {
        padding-left: 5%;
        border-left: 3px solid $shape-color;

        .trackline-dot {
          left: -15px;
        }
      }

      .experience-content {
        padding-right: 5%;
        border-right: 3px solid $shape-color;

        .trackline-dot {
          right: -15px;
        }
      }
    }
  }

  #skills-wrapper {
    width: 100%;
    padding-left: 0;
    .it-skills-wrapper {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
    }
    
  }
}