body {
  font: 100% "Roboto Condensed", Helvetica, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fafafa;
}

header {
  height: 75ch;
  min-height: 30ch;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
header #header-background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  max-height: 60%;
  border-bottom: 2px solid rgba(0, 31, 92, 0.719);
}
header #header-background #header-background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./assets/background_header_2.jpg");
  opacity: 0.3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #header-background #header-background-title {
  display: flex;
  justify-content: center;
}
header #header-background #header-background-title .header-background-title-label {
  margin: 0;
  color: #002060;
}
header #profile-picture-wrapper {
  position: relative;
  height: 0;
}
header #profile-picture-wrapper #profile-picture-img {
  position: absolute;
  left: 42%;
  top: -8vw;
  width: 16%;
  border-radius: 50%;
  border: 4px solid rgba(0, 31, 92, 0.719);
}
header #header-menu-wrapper {
  padding-top: 20ch;
  border-top: 2px solid rgba(0, 31, 92, 0.719);
  background: linear-gradient(#dbdbdb, #fafafa);
}
header #header-menu-wrapper #header-menu {
  height: 10ch;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header #header-menu-wrapper #header-menu .header-menu-item {
  width: 100%;
  transition: background-color 0.3s;
}
header #header-menu-wrapper #header-menu .header-menu-item .header-menu-label {
  text-align: center;
}
header #header-menu-wrapper #header-menu .header-menu-item:not(:last-child) {
  border-right: 1px solid rgba(0, 31, 92, 0.582);
}
header #header-menu-wrapper #header-menu .header-menu-item:hover {
  cursor: pointer;
  background-image: radial-gradient(rgba(233, 233, 233, 0.404), rgba(240, 240, 240, 0.404));
}

#content-wrapper {
  z-index: 1;
  margin-top: 80ch;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#content-wrapper .content-title {
  display: inline-block;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5px;
  color: #002060;
  text-align: center;
  border-bottom: 1px solid rgba(0, 31, 92, 0.719);
}
#content-wrapper #education-wrapper, #content-wrapper #experience-wrapper {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}
#content-wrapper #education-wrapper .education-line, #content-wrapper #education-wrapper .experience-line, #content-wrapper #experience-wrapper .education-line, #content-wrapper #experience-wrapper .experience-line {
  display: flex;
}
#content-wrapper #education-wrapper .education-line .education-coord, #content-wrapper #education-wrapper .education-line .experience-coord, #content-wrapper #education-wrapper .experience-line .education-coord, #content-wrapper #education-wrapper .experience-line .experience-coord, #content-wrapper #experience-wrapper .education-line .education-coord, #content-wrapper #experience-wrapper .education-line .experience-coord, #content-wrapper #experience-wrapper .experience-line .education-coord, #content-wrapper #experience-wrapper .experience-line .experience-coord {
  width: 30%;
}
#content-wrapper #education-wrapper .education-line .education-coord, #content-wrapper #education-wrapper .experience-line .education-coord, #content-wrapper #experience-wrapper .education-line .education-coord, #content-wrapper #experience-wrapper .experience-line .education-coord {
  padding-right: 5%;
  border-right: 3px solid rgba(0, 31, 92, 0.719);
}
#content-wrapper #education-wrapper .education-line .experience-coord, #content-wrapper #education-wrapper .experience-line .experience-coord, #content-wrapper #experience-wrapper .education-line .experience-coord, #content-wrapper #experience-wrapper .experience-line .experience-coord {
  padding-left: 5%;
  border-left: 3px solid rgba(0, 31, 92, 0.719);
}
#content-wrapper #education-wrapper .education-line .education-content, #content-wrapper #education-wrapper .education-line .experience-content, #content-wrapper #education-wrapper .experience-line .education-content, #content-wrapper #education-wrapper .experience-line .experience-content, #content-wrapper #experience-wrapper .education-line .education-content, #content-wrapper #experience-wrapper .education-line .experience-content, #content-wrapper #experience-wrapper .experience-line .education-content, #content-wrapper #experience-wrapper .experience-line .experience-content {
  width: 70%;
  min-height: 110px;
  position: relative;
}
#content-wrapper #education-wrapper .education-line .education-content .trackline-dot, #content-wrapper #education-wrapper .education-line .experience-content .trackline-dot, #content-wrapper #education-wrapper .experience-line .education-content .trackline-dot, #content-wrapper #education-wrapper .experience-line .experience-content .trackline-dot, #content-wrapper #experience-wrapper .education-line .education-content .trackline-dot, #content-wrapper #experience-wrapper .education-line .experience-content .trackline-dot, #content-wrapper #experience-wrapper .experience-line .education-content .trackline-dot, #content-wrapper #experience-wrapper .experience-line .experience-content .trackline-dot {
  position: absolute;
  top: 30px;
  width: 12px;
  height: 12px;
  border: 6px solid rgba(0, 31, 92, 0.719);
  border-radius: 50%;
  background-color: #fafafa;
}
#content-wrapper #education-wrapper .education-line .education-content, #content-wrapper #education-wrapper .experience-line .education-content, #content-wrapper #experience-wrapper .education-line .education-content, #content-wrapper #experience-wrapper .experience-line .education-content {
  padding-left: 5%;
  border-left: 3px solid rgba(0, 31, 92, 0.719);
}
#content-wrapper #education-wrapper .education-line .education-content .trackline-dot, #content-wrapper #education-wrapper .experience-line .education-content .trackline-dot, #content-wrapper #experience-wrapper .education-line .education-content .trackline-dot, #content-wrapper #experience-wrapper .experience-line .education-content .trackline-dot {
  left: -15px;
}
#content-wrapper #education-wrapper .education-line .experience-content, #content-wrapper #education-wrapper .experience-line .experience-content, #content-wrapper #experience-wrapper .education-line .experience-content, #content-wrapper #experience-wrapper .experience-line .experience-content {
  padding-right: 5%;
  border-right: 3px solid rgba(0, 31, 92, 0.719);
}
#content-wrapper #education-wrapper .education-line .experience-content .trackline-dot, #content-wrapper #education-wrapper .experience-line .experience-content .trackline-dot, #content-wrapper #experience-wrapper .education-line .experience-content .trackline-dot, #content-wrapper #experience-wrapper .experience-line .experience-content .trackline-dot {
  right: -15px;
}

/*# sourceMappingURL=style.css.map */
